:root{
  --primary-bg: #29335C;
  --secondary-bg: #8163D8;
  --prime-text-color: white;
  --second-link-color: #d7c0fc;
}

a{
  text-decoration: none;
}

html, body{
  background-color: var(--primary-bg);
  margin: 0;
  overflow-x: hidden;
}

header{
  display: flex;
  background-image: url('./assets/images/herojpg.jpg');
  height: 100%;
  background-size: cover;
  background-position: left;
  justify-content: space-between;
}

.title, .subtitle{
  margin: 0;
  color: var(--prime-text-color);
  padding: 0 10px 0 275px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.subtitle{
  padding-left: 300px;
}

/* navigation */

nav{
  display: flex;
  background: var(--primary-bg);
  font-size: 20px;
  margin-left: 40%;
  margin-top: 5%;
}

.nav-link{
  text-decoration: none;
  color: var(--prime-text-color);
  cursor: pointer;
}

.nav-link:hover{
  color: var(--primary-bg);
}

main{
  background-color: var(--primary-bg);
  color: var(--prime-text-color);
  min-height: 74.5vh;
}

/* about me page */
.about-me{
  text-align: left;
  margin-left: 40px;
  margin-bottom: 0;
}

.about-me-h2{
  margin-left: 20px;
}

/* cards for portfolio */
.card{
  background-color: var(--primary-bg);
  width: 33rem;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.card a{
  color: var(--second-link-color);
  text-decoration: none;
}

.card-img-top{
  width: 33rem;
}

.card-body{
  background-color: var(--secondary-bg);
}

/* contact form */
form{
  margin-left: 8%;
}

.name-div, .email-div{
  margin-bottom: 10px;
}

.name{
  margin-right: 60px;
}

.email{
  margin-right: 6px;
}

.message{
  margin-right: 40px;
}

input{
  padding: 0.25rem;
  width: 490px;
  margin-bottom: 5px;
}

textarea{
  width: 600px;
  height: 130px;
  padding: 5px;
}

button{
  margin-left: 8%;
  width: 300px;
  background-color: var(--secondary-bg);
}

/* footer */
footer{
  background-color: var(--secondary-bg);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.logo{
  margin-left: 30%;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .title, .subtitle{
    padding: 0 0px 0 4px;
  }

  .subtitle{
    padding-top: 10px;
  }

  nav{
    margin-left: 30%;
    justify-content: center;
  }

  .nav-link{
    font-size: 19px;
  }

  .card{
    background-color: var(--primary-bg);
    width: 21rem;
    margin-left: 10px;
  }

  form{
    margin: 0;
  }

  input{
    width: 300px;
  }

  textarea{
    width: 350px;
  }

}