:root{
  --primary-bg: #29335C;
  --prime-text-color: white;
}

html, body{
  background-color: var(--primary-bg);
  margin: 0;
}

header{
  display: flex;
  background-image: url('./assets/images/herojpg.jpg');
  height: 100%;
  background-size: cover;
  background-position: left;
  justify-content: space-between;
}

.title, .subtitle{
  margin: 0;
  color: var(--prime-text-color);
  padding: 0 10px 0 275px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.subtitle{
  padding-left: 300px;
}

nav{
  display: flex;
  background: var(--primary-bg);
  font-size: 20px;
  margin-left: 40%;
  margin-top: 5%;
}

.nav-link{
  text-decoration: none;
  color: var(--prime-text-color);
  cursor: pointer;
}

.nav-link:hover{
  color: var(--primary-bg);
}

main{
  background-color: var(--primary-bg);
  color: var(--prime-text-color);
  min-height: 74.5vh;
}

.about-me{
  text-align: left;
  margin-left: 40px;
  margin-bottom: 0;
}

.about-me-h2{
  margin-left: 20px;
}

footer{
  background-color: #8163D8;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.logo{
  margin-left: 30%;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .title, .subtitle{
    padding: 0 0px 0 4px;
  }

  .subtitle{
    padding-top: 10px;
  }

  nav{
    margin-left: 30%;
    justify-content: center;
  }

  .nav-link{
    font-size: 19px;
  }

}